/* TEXT VOTRE Annonce*/
.Titre_annonce{
    color: #ffffff; 
    font-family: 'Visby';
    text-align: center;
}
@media screen and (min-width: 601px) {
    .Titre_annonce {
      font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    .Titre_annonce {
      font-size: 22px;
    }
}