@font-face {
    font-family: 'Visby';
    src: url('Polices/VisbyRoundCF-Heavy.otf');
}
.body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #648BC4;
    color: #fff;
}
/*LOGIN*/
.wrappper{
    padding: 0 30% ;
    padding-top:100px;
}
@media (max-width: 684px) {
    .wrappper {
      padding: 5px;
      padding-top:50px;
    }
}
/*LOGIN LABEL*/
.box label{
    font-family: 'Visby';
    letter-spacing: 2px;
}

@media screen and (min-width: 601px) {
    .box label {
      font-size: 30px;
    }
}
  
  @media screen and (max-width: 600px) {
    .box label {
      font-size: 25px;
    }
}
/*LOGIN Zone de saisie*/
input{
    width: 340px;
}
/*LOGIN write in the input*/
.myinput {
    font-family: Visby;
    resize: none;
    border-radius: 15px;
    background-color: #ffff;
    border: 1px solid #648BC4;
    color: #727272;
    letter-spacing: 2px;
    font-size:  22px;
}
@media screen and (min-width: 601px) {
    .myinput {
    font-size: 22px;
    }
}
@media screen and (max-width: 600px) {
    .myinput {
    font-size: 20px;
    }
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 601px) {
    .button {
        position: relative;
        top: 50%;
        left: 50%;
    }
}