@font-face {
    font-family: 'Visby';
    src:url('font/VisbyRoundCF-Heavy.otf');
}
:root{
  --blue: #648BC4 ; 
  --white : #ffffff ; 
  --gris-clair: #CECECE; 
  --police : 'Visby'
}
.body{
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}
body{
    background-color: var(--blue);
    color: var(--white);
}
/*LOGO DU QUEASY*/
.responsive-image{
  width: 100%;
  max-width: 250px;
  height: auto;
}
@media screen and (min-width: 601px) {
.responsive-image {
  width: 250px;
}
}
@media screen and (max-width: 600px) {
.responsive-image{
  width: 100px;
}  
}

/*Espace*/
.spacing{
  padding: 10px;
}
@media screen and (min-width: 601px) {
  .spacing {
    padding: 10px;
  }
}
@media screen and (max-width: 600px) {
  .spacing{
    padding: 5px;
  }  
}

/* TEXT VOTRE TITRE (GRAND SOUS-TITRE)*/
.Votre_Espace{
    color:var(--white); 
    font-family: var(--police);
    text-align: center;
}
@media screen and (min-width: 601px) {
    .Votre_Espace {
      font-size: 70px;
    }
}
  @media screen and (max-width: 600px) {
    .Votre_Espace {
      font-size: 30px;
    }
}

/*ZONE PROFIL (PAGE ESPACE-ELEVE)
.container{
  background-color: #648BC4;
  margin: 0 auto ;
}
@media screen and (min-width:601px){
  .container{
    width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .container{
    width: 300px;
  }  
}
*/

/*TEXT + IMAGE*/
/*TEXT*/
p.profil{
  color: var(--white);
  font-family:var(--police);
  text-align: right;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 20px;
  
}
@media screen and (min-width: 601px) {
  p.profil {
    font-size: 40px;
    text-align: center;
    margin-top: 20px; 
    }
}
@media screen and (max-width: 600px) {
  p.profil {
    font-size: 30px; 
  }
}

/*IMG
img.
{
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: 0 0 0 300px;
  
}
@media screen and (min-width: 601px) {
  img.profil {
    width: 150px;
  }
}
@media screen and (max-width: 600px) {
  img.profil {
    width: 90px;
  }
}
*/
/*ZONE EDIT PROFIL
IMAGE EDIT PROFIL*/

/*AJUSTER LIMAGE AU CENTRE 

/*Contenu du menu edit profil */
.edit_profil-content {
  display: none;
  position: absolute;
  background-color: var(--white); 
  min-width: 300px;
  border-radius: 20px; 
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.montrer {
  display: block;
}
/*Affichage de son nom, prenom, promo*/
.edit_user{
  color: var(--blue);
  font-family:'Visby';
  text-align: center; 
  font-size : 20px; 
  text-decoration: none;
  display: block; 
  line-height: 10px;
}
/*Affichage deconnexion + changer mot de password*/
.edit{
  color: var(--blue);
  font-family:'Visby';
  text-align: center; 
  font-size : 20px; 
  margin-top:10px;
  text-decoration: none;
  display: block;
  text-shadow: 1px 2px var(--gris-clair); 
}

/*IMAGE + TEXT RESPONSIVE BOX*/
/*CORRECTION + RESULTAT + Repondre*/
.wrapper{
  margin: 150px auto;
  padding: 0 15%;
  padding-bottom:10px;
}
.content{
  display: grid; /*Diviser une paege en région*/
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr) );
}
.box{
  padding: 20px;
  text-align: center;
  background-color: var(--blue);
}
.box img{
  height: 30%;
}
.box h2{
  color: var(--white);
  padding: 10px 0;
  font-size: 35px;
  font-family: var(--police);
}
.box p {
  color: var(--white);
  font-size: 20px;
  line-height: 1.6;
  font-family: var(--police);
}
.btn {
  color: var(--blue);
  font-family: var(--police);
  font-size: 20px;
  border: none;
  outline: none;
  margin-top: 15px;
  padding: 8px 15px;
  background: var(--white);
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  align-items: center;;
}
/*Responsive de la box*/
@media (max-width: 684px) {
  .wrapper {
    padding: 5px;
  }
}
/* Responsive img*/
@media screen and (min-width: 601px) {
  .box img {
    height: 30%;
  }
}
@media screen and (max-width: 600px) {
  .box img {
    height: 25%;
  }
}
/*Responsive h2*/
@media screen and (min-width: 601px) {
  .box h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .box h2 {
    font-size: 30px;
  }
}
/*Responsive p*/
@media screen and (min-width: 601px) {
  .box p {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .box p {
    font-size: 20px;
  }
}
@media screen and (min-width: 601px) {
  .box .icon {
    height: 30%;
  }
}

/*.button{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 601px) {
  .button {
      position: relative;
      top: 50%;
      left: 50%;
  }
}*/
.myinput {
  font-family: var(--police);
  resize: none;
  border-radius: 15px;
  background-color: var(--white);
  border: 1px solid var(--blue);
  color: #727272;
  letter-spacing: 2px;
  font-size:  22px;
}
@media screen and (min-width: 601px) {
  .myinput {
  font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .myinput {
  font-size: 20px;
  }
}
input{
  width: 340px;
}
.box label{
  font-family: var(--police);
  letter-spacing: 2px;
}

@media screen and (min-width: 601px) {
  .box label {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .box label {
    font-size: 25px;
  }
}
.Titre_annonce{
  color: var(--white); 
  font-family: var(--police);
  text-align: center;
}
@media screen and (min-width: 601px) {
  .Titre_annonce {
    font-size: 38px;
  }
}
@media screen and (max-width: 600px) {
  .Titre_annonce {
    font-size: 22px;
  }
}

.image_accueil{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 12%;
}
@media screen and (min-width: 601px) {
  .image_accueil{
    width: 12%;
    padding-right: 60px;
  }
}
@media screen and (max-width: 600px) {
  .image_accueil{
    width: 40%;
    padding-right: 30px;
  }  
}
